<%- include('../partials/header.ejs') %>

<div class="bigContainer">
    <div class="leftContainer">
        <h2> My Book Notes</h2>
        <p>My Book Notes is a dedicated application designed to support readers in organizing and enhancing their
            reading
            experience. The app enables users to:</p>
        <ul>
            <li>Record and monitor their reading progress, including specific page tracking.</li>
            <li>Create, update, and manage personalized book entries.</li>
            <li>Categorize books by status, such as Reading, Read, or Finished.</li>
            <li>Write and store personal reviews and reflections for each title.</li>
        </ul>
        <p>With a focus on clarity and functionality, My Book Notes provides readers with a structured yet flexible way
            to
            manage their literary journey.</p>
    </div>

    <div class="rightContainer">
        <form method="POST" action="/login">
            <input type="hidden" name="action" value="login"/>
            <div class="user">
                <label>Username:</label>
                <input name="username"/>
            </div>

            <div class="pass">
                <label>Password:</label>
                <input type="password" id="password" name="password"/>
                <button type="button" id="togglePassword"
                        onclick="const pass = document.getElementById('password'); pass.type = pass.type === 'password' ? 'text' : 'password';">
                    👁
                </button>
            </div>

            <!--            <div class="remenberMe">-->
            <!--                <input type="checkbox"> Remember me-->
            <!--            </div>-->

            <div class="loginButton">
                <input type="submit" value="Login">
            </div>
        </form>

        <form action="/create" method="post">
            <div class="create">
                <input type="hidden" name="action" value="create"/>
                <a HREF="/create">Create Account</a>
            </div>
        </form>

        <div id="error" style="color: red;">
            <% if (errorMessage === "Account created successfully"){ %>
                <p style="color: green;"><%= errorMessage %></p>
            <% } else if (typeof errorMessage !== "undefined" && errorMessage) { %>
                <p style="color: red;"><%= errorMessage %></p>
            <% } %>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>